
.main-portfolio-block{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
}
.portfolio-work-block{
    width: 100vw;
    max-width: 1000px;
    background: linear-gradient(-45deg, #B4B2FF, #B490FF);
    border-radius: 20px;

    padding-top: 30px;
    padding-bottom: 30px;

    margin-left: 50px;
    margin-right: 50px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 0.1fr auto;
    align-items: center;
    justify-items: center;
}
.main-carousel-container{
    width: 100%;
    max-width: 1000px;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    overflow: hidden;
}
.carousel-container{
    display: flex;
    /*justify-content: ;*/
    gap: 50px;
    transition: transform 0.1s ease-in-out;
    width: max-content;
}
.main-img-work{
    width: 100%;
    max-width: 580px;
    /*height: 100%;*/
    border-radius: 15px;

}
.portfolio-links{
    height: 100%;
    width: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.portfolio-links a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgb(154, 154, 154, 0.25) 0px 0px 10px 0px;
    max-width: 50px;
}
.portfolio-link-github{
    background-color: #D3E2FF;
}
.portfolio-link-figma{
    background-color: #C0BBFF;
}
.portfolio-comments{
    font-family: Montserrat Alternates;
    color: white;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.25) inset 0px 0px 10px 4px;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-top: 7px;
}
.portfolio-user-comment{
    margin-left: 10px;
    margin-right: 45px;
    margin-top: 5px;

}
.portfolio-user-comment h2{
    font-size: 16px;
    margin: 0px;
    color: black;
}
.portfolio-user-comment small{
    font-size: 10px;
    color: #969696;
}
.portfolio-user-comment p{
    color: black;
    font-size: 14px;
    background-color: #dbdbdb;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    display: inline-block;
}
.portfolio-user-comment span{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: end;
    gap: 5px;
}
.comments{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.comments::-webkit-scrollbar{
    width: 0px;
}
.portfolio-comments-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
    padding-top: 10px;
}
.portfolio-comments-controls input{
    width: 65%;
    height: 35px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    background-color: black;
}
.portfolio-comments-controls button{
    width: 20%;
    height: 35px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.carousel
{
    width: max-content;
    display: flex;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out; 
}
.carousel-out{
    width: 100vw;
    max-width: 1100px;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 20px;

    box-shadow: inset rgb(30, 30, 30, 0.4) 0px 0px 20px 11px;
}
.carousel-controllers{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.carousel-controllers img{
    width: 20px;
    height: 30px;
    transition: filter 0.3s ease-in-out ;
}
.carousel-controllers span{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    background-color: #B49EFF;
    border-radius: 20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.carousel-controllers-separator {
    content: "";
    background-color: white;
    height: 30px;
    width: 1px;
}
.carousel-controllers button{
    border: none;
    background-color: rgb(0,0,0, 0%);
    cursor: pointer;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.carousel-controllers button:hover img{
    filter:invert(200%);
}
@media screen and (max-width: 920px) {
    .portfolio-work-block{
        grid-template-rows: auto 0.2fr 1fr;
        grid-template-columns:auto;
        gap: 15px;
    }
    .portfolio-links{
        flex-flow: row nowrap;
        width: 100%;
        max-width: none;
    }
    .portfolio-links a{
        max-width: none;
    }
    .portfolio-comments{
        width: 100%;
        max-width: none;
    }
    .carousel-out{
        padding: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
        max-height: none;
    }
}

