
.main-portfolio-block{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
}
.portfolio-work-block{
    width: 100%;
    max-width: 1000px;
    min-height: 400px;
    background-color: #4B4B4B;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main-img-work{
    width: 580px;
    height: 330px;
    border-radius: 15px;
}
.portfolio-links{
    height: 100%;
    width: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.portfolio-links a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgb(154, 154, 154, 0.25) 0px 0px 10px 0px;
}
.portfolio-link-github{
    background-color: #C3C3C3;
}
.portfolio-link-figma{
    background-color: #383838;
}
.portfolio-comments{
    font-family: Montserrat Alternates;
    color: white;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 330px;
    background-color: #333333;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.25) inset 0px 0px 10px 4px;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.portfolio-user-comment{
    margin-left: 10px;
    margin-right: 45px;
    margin-top: 5px;
}
.portfolio-user-comment h2{
    font-size: 16px;
    margin: 0px;
}
.portfolio-user-comment small{
    font-size: 10px;
    color: #BDBDBD;
}
.portfolio-user-comment div{
    color: black;
    font-size: 14px;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}
.portfolio-user-comment span{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: end;
    gap: 5px;
}
.comments{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.portfolio-comments-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
    padding-top: 10px;
}
.portfolio-comments-controls input{
    width: 170px;
    height: 30px;
    padding: 0px;
    border: none;
    border-radius: 10px;
}
.portfolio-comments-controls button{
    width: 30px;
    height: 30px;
    padding: 0px;
    border: none;
    border-radius: 10px;
}