.main-block-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
}
.main-skill-card{
    padding: 10px;
    background-color: #474747;
    /*width: 100%;*/
    /*max-width: 150px;*/
    /*max-height: 280px;*/
    width: 150px;
    height: 230px;

    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    gap: 7px;
    position: relative;
}
.separator{
    content: "";
    width: 80%;
    height: 1px;
    background-color: white;
}
.main-skill-card img{
    max-width: 104px;
}
.main-skill-card small{
    color: #CBCAFF;
    font-family: Itim;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 10PX;
}
.GraphicCanvas{
    position: absolute;
    margin-left: auto;
    max-width: 260px;
    bottom: 0px;
}
.container{
    content: "";
    width: 95px;
    height: 95px;
}
.main-modal-window-skill{
    width: 100%;
    max-width: 1360px;
    height: 100%;
    max-height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    content: "";
    background-color: red;
}
@media (max-width: 1200px) {
    .main-block-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1000px) {
    .main-block-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .main-block-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .main-block-grid {
        grid-template-columns: 1fr;
    }
}