.main-block-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
}
.main-skill-card{
    padding: 10px;
    background-color: #474747;
    /*width: 100%;*/
    /*max-width: 150px;*/
    /*max-height: 280px;*/
    width: 150px;
    height: 230px;

    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    gap: 7px;
    position: relative;
}
.separator{
    content: "";
    width: 80%;
    height: 1px;
    background-color: white;
}
.main-skill-card img{
    max-width: 104px;
}
.main-skill-card small{
    color: #CBCAFF;
    font-family: Itim;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 10PX;
}
.GraphicCanvas{
    position: absolute;
    margin-left: auto;
    max-width: 260px;
    bottom: 0px;
}
.container{
    content: "";
    width: 95px;
    height: 95px;
}
.main-modal-window-skill{
    width: 100%;
    max-width: 1360px;
    min-height: 580px;
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin-left: auto;
    margin-right: auto;

    z-index: 5;
    background-color: #444444;
    border-radius: 20px;
    box-shadow: #A9A7FF 0px 0px 23px 2px;
    padding-top: 70px;
    padding-bottom: 70px;

    display: flex;
    flex-flow: row wrap;
    gap: 250px;
    justify-content: center;
    align-content: center;
    font-family: Montserrat Alternates;
}
.main-modal-window-skill button{
    position: absolute;
    padding: 0px;
    right: 60px;
    top: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0,0);
    border: none;
    cursor: pointer;
}
.main-modal-window-skill button img{
    width: 100%;
    height: 100%;
}
.modal-window-logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    position: relative;
}
.modal-logo-line{
    display: inline;
    content: '';
    background-color: white;
    width: 100%;
    height: 3px;
    position: absolute;
    border-radius: 100px;
}
.modal-window-logo h1{
    margin: 0px;
    margin-bottom: -4.5px;
    color: white;
}
.modal-window-logo img {
    max-width: 180px;
    margin-bottom: -20px;
}
.modal-window-preview{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 80px;
}
.modal-preview-works{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 100%;
}
.modal-preview-works img{
    width: 100%;
}
.modal-window-text{
    color: white;
    max-width: 600px;
    text-align: right;
    width: 100%;
}
.modal-window-text h1{
    font-size: 46px;
}
.modal-window-text p{
    font-size: 24px;
}
 @media (max-width: 1200px) {
    .main-block-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1000px) {
    .main-block-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .main-block-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .main-block-grid {
        grid-template-columns: 1fr;
    }
}