@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Itim&family=Koulen&display=swap');
html{
    height: 100%;
}
@media screen and (max-width: 1200px) {
    html{
        height: unset;
    }
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    background: conic-gradient(
            from 0deg at 50% 50%,
            #8b6eff 0%,
            #FEECFF 37%,
            #C5C3FF 53%,
            #5400DD 80%,
            #8b6eff 100%
    );
    position: relative;
    transition: background 1s ease-in-out;

    animation: spinGradient 1s linear 0s infinite normal;
}
@keyframes spinGradient {
    0%{
        background: conic-gradient(
                from 0deg at 50% 50%,
                #8b6eff 0%,
                #FEECFF 37%,
                #C5C3FF 53%,
                #5400DD 80%,
                #8b6eff 100%
        );
    }50%{
             background: conic-gradient(
                     from 360deg at 50% 50%,
                     #8b6eff 0%,
                     #FEECFF 37%,
                     #C5C3FF 53%,
                     #5400DD 80%,
                     #8b6eff 100%
             )
         }
}
@media screen and (max-width: 530px) {
    body{
        background: conic-gradient(
            from 0deg at 50% 85%,
            #8b6eff 0%,
            #FEECFF 37%,
            #C5C3FF 53%,
            #5400DD 80%,
            #8b6eff 100%
        );
    }
}
#root{
    height: 100%;
}
header{
    width: 100%;
    height: auto;
    z-index: 3;
    position: relative;
}
.navigation-block{
    font-family: itim;
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: space-between;
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation-routes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;
    gap: 50px;
}
.navigation-routes a{
    font-size: 30px;
    margin-top: 25px;
    text-decoration: none;
    color: white;
}
.navigation-title h1, .navigation-title h2{
    margin: 0px;
    padding: 0px;
    text-align: right;
    color: white;
}
.navigation-title h1{
    font-size: 60px;
    word-break: keep-all;
}
.navigation-title h2{
    font-size: 40px;
}
.navigation-radio{
    display: flex;
    flex-flow: column nowrap;
    max-width: 40px;
    position: fixed;
    height: 100%;
    justify-content: center;
    gap: 20px;
    margin-left: 15px;
}

.main-info-block{

    width: 100%;
    height: 80%;

    border-radius: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;




}
.main-card-block{
    background-color: white;
    border-radius: 20px;

    box-shadow: inset rgb(0,0,0,30%) 0px 0px 10px 6px ;

    width: 100%;
    max-width: 1300px;

    overflow-y: scroll;
    scrollbar-width: none;
}
.main-card-block::-webkit-scrollbar{
    width: 0px;
}
@media (max-width: 1200px) {
    .main-info-block{
        height: auto;
    }
    
}
@media (max-height: 750px) {
    .main-info-block{
        height: auto;
    }

}
@media screen and (width < 1140px) {
    .navigation-block{
        justify-content: center;
        margin-bottom: 80px;
        padding:0px;
    }
    .navigation-title h1,.navigation-title h2{
        text-align: center;
    }
}
